<div>
    <div class="sideBar">
        <div class="menuItem" routerLink="dashboard">
            Dashboard
        </div>
        <div class="menuItem" routerLink="shortcuts">
            Shortcuts
        </div>
        <div class="menuItem" routerLink="overview">
            Overview
        </div>
        <div class="menuItem">
            Events
        </div>
        <div class="menuItem">
            About
        </div>
        <div class="menuItem">
            Services
        </div>
        <div class="menuItem">
            Contact
        </div>
    </div>
    <div class="items">
        <router-outlet></router-outlet>
    </div>
</div>