
<body>
    <div class="main">
      <div class="icons">
        <a href="https://www.linkedin.com/in/sheril-shaji-b1a319200"><img class="img1" alt="" width="30px" height="30px"></a><br><br>
        <a href="mailto:sherilshaji227@gmail.com"><img class="img2" alt="" width="30px" height="30px"></a><br><br>
        <a href=""><img class="img3" alt="" width="30px" height="30px"></a><br><br>
        <a href="https://www.instagram.com/_sheri.l._/"><img class="img4" alt="" width="30px" height="30px"></a>
      </div>
      <div class="contents">
        <div routerLink="home" class="home">HOME</div>
        <div routerLink="aboutme" class="aboutme">ABOUT ME</div>
        <div routerLink="projects" class="projects">PROJECTS</div>
        <div routerLink="contact" class="contacts">CONTACTS</div>
      </div>
      <div class="pages">
        <router-outlet></router-outlet>
    </div>
    </div>
</body>