<h2>Expense Form</h2>
<form [formGroup]="expenseForm" (ngSubmit)="onSubmit()">
  <label>Name:</label>
  <input formControlName="name" type="text" placeholder="Enter your expense ">

  <label>Amount:</label>
  <input formControlName="amount" type="number" placeholder="Enter amount">

  <label>Date:</label>
  <input formControlName="date" type="date">

  <label>Payment:</label>
  <input formControlName="payment" type="text">

  <label>Category:</label>
  <div class="custom-dropdown">
    <!-- Display selected category -->
    <button type="button" (click)="toggleDropdown()" class="dropdown-toggle">
      {{ selectedCategory || 'Select Category' }}
    </button>

    <!-- Dropdown options list -->
    <ul *ngIf="dropdownOpen" class="dropdown-list">
      <li *ngFor="let category of categories; let i = index">
        <span (click)="selectCategory(category)">{{ category }}</span>
        <button type="button" (click)="editCategory(i)">Edit</button>
        <button type="button" (click)="deleteCategory(i)">Delete</button>
      </li>
    </ul>
  </div>
  

  <label>Description:</label>
  <input formControlName="description" type="text">

  <button type="submit">Add Expense</button><br><br>

  
  
</form>




