<router-outlet></router-outlet>
<!-- <app-login></app-login>
<app-registration></app-registration> -->
<!-- <br><br>
<button (click)="showaddUser()">Add User</button>
<div *ngIf="showUser">
    <app-box2 [user]="editUserData" [editMode]="editMode" (event)="submit()"></app-box2>
    <button (click)="hideUser()">Hide</button>
</div><br><br>
<table>
    <tr>
        <th>Name</th>
        <th>Age</th>
        <th>Action</th>
    </tr>
    <tr *ngFor="let i of array">
        <td>{{i.name}}</td>
        <td>{{i.age}}</td>
        <td><button (click)="dlt(i.id)">Delete</button>
        <button (click)="edt(i)">Edit</button></td>
    </tr>
</table> -->